{% extends "treater_feed/layout.html" %} {% block authenticated_body %}

<div class="container treater_feed">
    <div class="container feed">
        <form action="{% url 'add_tweet' %}" method="post" id="tweet-form">
            {% csrf_token %}
            <div class="form-group text-area">
                <label class="home-title" for="tweet-text-area">Home</label>
                <textarea class="form-control" name="tweet" id="tweet-text-area" rows="3" placeholder="What's cooking?"></textarea>
            </div>
            <input class="btn btn-warning" type="submit" value="Treat" id="treat-button">

        </form>
    </div>
    <div class="container list-tweets">
        <ul>
            {% for tweet in tweets %}
            <li>
                <div class="tweet-post">
                    <div class="row">
                        <b>{{tweet.user}}</b>
                        <p class="tweet-date-time"> &#183; {{tweet.date_and_time|date:"d M"}} {{tweet.date_and_time|time:"TIME_FORMAT"}}</p>
                    </div>
                </div>
                <div class="row">
                    {{tweet.tweet}}
                </div>
            </li>
            <hr> {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}