{% extends "treater_feed/layout.html" %} {% block authenticated_body %} {% load static %}
<div class="container profile-details">
    <div class="modal" tabindex="-1" role="dialog" id="editProfileModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <b class="edit-profile-header">Edit Profile</b>
                </div>
                <div class="modal-body edit-Profile">
                    <h4><b>@{{user.username}}</b></h4>
                    <form action="{% url 'view_own_profile' %}" id="edit-profile-modal" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea id="description" class="form-control" name="description" rows="3" maxlength="250">{{user.description}}</textarea>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Save" id="saveEditProfileBtn-hidden">
                        <button type="button" class="btn btn-light" data-dismiss="modal" id="closeEditProfileBtn">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row username-button">
        <div>
            <h3 class="profile-details-username"><b>{{profileUser.username}}</b></h3>
        </div>
        {% if user.id == profileUser.id %}
        <div>
            <button type="button" class="btn btn-warning" id="editProfileBtn">Edit Profile</button>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <p>{{tweets.count}} Treats</p>
    </div>
    <div class="row">
        <div>{{profileUser.description}}</div>
    </div>
    <div class="container list-tweets">
        <ul>
            {% for tweet in tweets %}
            <li>
                <div class="tweet-post">
                    <div class="row">
                        <a href="{% url 'view_user_profile' tweet.user.id %}">
                            <b>{{tweet.user}}</b>
                        </a>
                        <p class="tweet-date-time"> &#183; {{tweet.date_and_time|date:"d M"}} {{tweet.date_and_time|time:"TIME_FORMAT"}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        {{tweet.tweet}}
                    </div>
                    {% if tweet.user.id == user.id %}
                    <a class="btn delete" id="deleteTweet" href="{% url 'delete_tweet_profile' tweet.id user.id %}"><i class="fas fa-times"></i></a> {% endif %}
                </div>
            </li>
            <hr> {% endfor %}
        </ul>
    </div>
</div>
{% endblock %} {% block script %}
<script src="{% static 'treater_feed/profile.js' %}"></script>
{% endblock %}