{% extends "treater_feed/feed.html" %} {% load static %} {% block top_feed %}
<div class="container profile-details">
    <div class="modal" tabindex="-1" role="dialog" id="editProfileModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <b class="edit-profile-header">Edit Profile</b>
                </div>
                <div class="modal-body edit-Profile">
                    <h4><b>@{{user.username}}</b></h4>
                    <form action="{% url 'view_own_profile' %}" id="edit-profile-modal" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea id="description" name="description-change" class="form-control" name="description" rows="3" maxlength="250">{{user.description}}</textarea>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Save" id="saveEditProfileBtn-hidden">
                        <button type="button" class="btn btn-light" data-dismiss="modal" id="closeEditProfileBtn">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row username-button">
        <div>
            <h3 class="profile-details-username"><b>{{profileUser.username}}</b></h3>
        </div>
        {% if user.id == profileUser.id %}
        <div>
            <button type="button" class="btn btn-warning" id="editProfileBtn">Edit Profile</button>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <p>{{tweets.count}} Treats</p>
    </div>
    <div class="row">
        <div>{{profileUser.description}}</div>
    </div>
</div>
{% endblock %} {% block script %}
<script src="{% static 'treater_feed/profile.js' %}"></script>
{% endblock %}