* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.authenticated {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.layout .authenticated .wrapper {
    display: flex;
    position: relative;
}

.authenticated .wrapper .sidebar {
    padding-top: 20px;
    position: fixed;
    width: 380px;
    height: 100%;
    /*TODO!*/
    border-right: 1px solid #dedede;
    /*background-color: #244763;*/
    background-color: white;
}

.authenticated .wrapper .sidebar h1 {
    color: #ffc008;
    margin-bottom: 20px;
    margin-left: 80px;
}

.authenticated .wrapper .sidebar li {
    list-style: none;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 60px;
    margin-right: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    border-top: 10px #152d40;
    border-bottom: 1px #152d40;
    border-radius: 25px;
}

.authenticated .wrapper .sidebar li:hover {
    background-color: #ffd761;
    color: #152d40;
    /*background-color: #152d40;
    color: #ffd761;*/
}

.authenticated .wrapper .sidebar i {
    margin-right: 15px;
}

.authenticated .wrapper .sidebar a {
    color: #152d40;
}

.authenticated .wrapper .sidebar a:hover {
    text-decoration: none;
}

.layout .authenticated .container.main-content {
    margin-left: 380px;
}

.layout .row.home-not-authenticated {
    height: 780px;
}

.layout .authenticated .body-authenticated {
    margin-right: 70px;
}

.layout .row.home-not-authenticated .col-sm-6.with-image {
    background-image: url("images/food.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.layout .row.home-not-authenticated .col-sm-6.sign {
    padding-left: 50px;
}

.layout .row.home-not-authenticated .col-sm-6.sign h1 {
    margin-top: 35%;
    font-size: 80px;
}

.layout .row.home-not-authenticated .col-sm-6.sign h2 {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 40px;
}

.layout .row.home-not-authenticated .col-sm-6.sign .btn {
    width: 60%;
    font-size: 18px;
    height: 45px;
    font-weight: bold;
}

.layout .row.home-not-authenticated .col-sm-6.sign .btn.btn-warning {
    color: white;
}

.layout .row.home-not-authenticated .col-sm-6.sign .btn.btn-light {
    margin-top: 15px;
    border-color: #ffc008;
    color: #ffc008;
}

.modal-body {
    padding: 30px;
}

.modal-body p {
    font-weight: bold;
    font-size: 20px;
}

.modal-header {
    font-size: 30px;
    color: #ffc008;
    text-align: center;
}

.modal-body .form-control {
    height: 60px;
    margin-bottom: 10px;
}

.modal-body .btn {
    margin-top: 10px;
    float: right;
    width: 100%;
}

.row.home-not-authenticated .modal-body form input[name="username"]:focus,
#createAccountModal .modal-body form input[name="email"]:focus,
.row.home-not-authenticated .modal-body form input[name="password"]:focus,
#createAccountModal .modal-body form input[name="confirmation"]:focus {
    border-color: #ffc008;
    box-shadow: 0 1px 1px rgba(236, 206, 35, 0.075);
}

.modal-body form .btn-primary {
    background-color: #ffc008;
    border: none;
}

.container.treater_feed {
    width: 80%;
}

.container.feed .home-title {
    font-weight: bold;
    font-size: 23px;
}

.container.feed .form-group.text-area textarea {
    border: 1px solid #dedede;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

.container.feed .form-group.text-area textarea:focus {
    outline: none !important;
    border: 1px solid #dedede;
    box-shadow: 0 0 10px #ffc008;
}

.container.feed .btn.btn-warning {
    float: right;
}

.container.treater_feed .container.list-tweets ul {
    list-style: none;
}

.container.list-tweets {
    margin-top: 100px;
    overflow: hidden;
}

.container.list-tweets .tweet-date-time {
    margin-left: 5px;
    color: grey;
}

.container.profile-details h3 {
    margin-top: 30px;
}

.container.profile-details button {
    height: 40px;
    border-radius: 30px;
    margin-top: 30px;
    float: right;
}

.copyright {
    text-align: center;
    color: grey;
    font-weight: lighter;
}